<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- DEV -->
   
    <add name="ConnectionString" connectionString="server=MTLMISCDEVDB\INSTA;database=TravelServices;uid=treasury;pwd=treasury" providerName="System.Data.SqlClient" />

    <!-- UAT -->
    <!-- 
    <add name="ConnectionString" connectionString="server=NJSQLMISCCUAT.AAACORP.COM\INSTC;database=TravelServices;uid=treasury;pwd=treasury" providerName="System.Data.SqlClient" /> 
    -->
    <!-- IST -->
    <!-- 
    <add name="ConnectionString" connectionString="server=MTLMISCDEVDB\INSTA;database=TravelServices_IST;uid=treasury;pwd=treasury" providerName="System.Data.SqlClient" /> 
    -->
    <!-- PROD -->
    <!--
    <add name="ConnectionString" connectionString="server=NJSQLMISCA;database=TravelServices;uid=treasury;pwd=treasury" providerName="System.Data.SqlClient" /> 
     -->
    <add name="gwConnectionString" connectionString="Dsn=GWSRVRPT" providerName="System.Data.Odbc" />
   
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.htm" />
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    <controls>
      <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" /></controls></pages>
    <!--<authentication mode="Windows"/>-->
    <authorization>
      <allow roles="Admin, User" />
      <!--<deny users="*"/>-->
    </authorization>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="10240" executionTimeout="600" />
    <compilation debug="true" targetFramework="4.6.1" />
  <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" /></httpHandlers>
  </system.web>
  <location path="Flyer.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
          <windowsAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <location path="AgentFlyer.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
          <windowsAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
          <windowsAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <appSettings>
    <add key="AdminEmail" value="yhu@aaamidatlantic.com" />
    <!--<add key="SenderEmail" value="groupmanager@aaamidatlantic.com" />-->
    <add key="SenderEmail" value="yhu@aaamidatlantic.com" />
    <!--<add key="RecipientEmail" value="internalgd@aaamidatlantic.com" />-->
    <add key="RecipientEmail" value="yhu@aaamidatlantic.com" />
    <add key="SSRSUrlTemplate" value="https://qabiportal.aaacorp.com/ReportServer/Pages/ReportViewer.aspx?%2fData+Team%2fMasterReports%2f[REPORTNAME]&amp;rs:Command=Render" />
    <add key="BIPortalUrlTemplate" value="https://qabiportal.aaacorp.com/ReportServer%2f-%2f/WEB/Group%2fAtlas/Pages/ReportViewer.aspx?" />
    <add key="BIPortalUrl" value="https://qabiportal.aaacorp.com/reports/browse/Group%20Atlas" />
    <add key="HdrComment" value="** DEV ENVIRONMENT **" />
    <!--<add key="PhysPath" value ="C:/Groups/"/>-->
     <add key="PhysPath" value ="\\ebixdata\shared\GroupDEV\"/>
  <add key="Telerik.Skin" value="Web20" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    <add key="FilesUploadURL" value="https://groupatlas.aaacorp.com/GroupFile.aspx"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtprelay" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
<system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ChartImage_axd" />
      
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" /><add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" /></handlers>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="10485760" /></requestFiltering></security></system.webServer>
</configuration>